<div class="home-div">
    <h1>Ketti Bank</h1>
    <div class="welcome-div w-div">
        
        <h3>Hello, Megan!</h3>
        <p>Rewards Platinum Member</p>
        
    </div>
    <div class="accounts-div w-div">
        <h4>Ketti Bank Accounts</h4>
        
        <div class="acc-info">
            <div class="acc-l">
                <p>Checking - 1234</p>
                <!-- TODO show total amount -->
            </div>
            <div class="acc-r">
                <a routerLink="/transactions"> > </a>
            </div>
        </div>
        <div class="acc-info">
            <div class="acc-l">
                <p>Savings - 5678</p>
                <!-- show total amount -->
            </div>
            <div class="acc-r">
                <a routerLink="/"> > </a>
            </div>
        </div>
        <div class="acc-info">
            <div class="acc-l">
                Add a new account
                
            </div>
            <div class="acc-r">
                <a routerLink="/"> + </a>
            </div>
        </div>
        
    </div>
</div>